@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #e48d1a 0%, #dc9326 100%);
  box-shadow: 0 16px 14px 0 #2d1d04;
  padding: 20px 25px;
  max-width: 345px;
  transition: transform 0.8s;
}

.container:hover {
  transform: scale(1.1);
}
.img {
  margin-bottom: 25px;
  border-radius: 10px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  color: #b6550b;
}

.description {
  margin-top: 5px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  list-style: none;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 2px 20px;
  box-shadow: 0 4px 6px 0 #2d1d04;
}

.links {
  width: 100%;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
}

.link {
  text-decoration: none;
  font-size: 60px;
  color: black;
  transition: transform 0.3s;
}

.link:hover {
  cursor: pointer;
  transform: scale(1.2);
}
