@import "../../../src/vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #b6550b;
  z-index: 1;
}

.title {
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 30px;
  color: #b6550b;
}

.name {
  color: var(--color-secondary);
  font-weight: 900;
}

.bio {
  font-size: 30px;
  margin-bottom: 50px;
}

.eyeBlink {
  animation: blinker 2s infinite;
  color: #2d2a2a;
}

@keyframes blinker {
  0%,
  100% {
    opacity: 1;
  }
  20%,
  50% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.2;
  }
}

.links {
  display: flex;
  justify-content: space-evenly;
  gap: 25px;
  border-bottom: 1px solid #b6550b;
}
.icon {
  height: 60px;
  width: 60px;
  text-decoration: none;
  background-color: transparent;
  border-radius: 100px;
  font-size: 60px;
  font-weight: 600;
  cursor: pointer;
  padding: 10px 10px;
  box-shadow: 0 0 6px 0 0.6;
  transition: transform 0.6s;
}

.emailIcon {
  height: 57px;
}

.icon:hover {
  cursor: pointer;
  transform: rotate(20deg);
  transition: transform 0.6s;
}
.heroImg {
  height: 40%;
  width: 40%;
  z-index: 1;
  animation: bouncing 3s infinite ease-in-out;
  opacity: 80%;
  filter: drop-shadow(-10px -10px 0 #73250b) drop-shadow(10px 10px 0 #de7513);
  margin-right: 105px;
}

@keyframes bouncing {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.top {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  top: -150px;
  right: 30vw;
  border-radius: 750px;
  background: rgba(238, 169, 71, 0.7);
  filter: blur(50px);
  z-index: 0;
}

.bottom {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 250px;
  top: 240px;
  right: -10vw;
  border-radius: 750px;
  background: rgba(238, 169, 71, 0.7);
  filter: blur(50px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
  }

  .welcome {
    align-items: center;
    text-align: center;
  }

  .heroImg {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}
