/* src/components/ContactForm.module.css */
@import "../../vars.css";

.container {
  margin-top: 300px;
  margin-bottom: 150px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(180deg, #e48d1a 0%, #dc9326 100%);
  box-shadow: 0 16px 14px 0 #2d1d04;
}

.title {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  color: #b6550b;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.input,
.textarea {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-border);
  font-size: 16px;
  transition: box-shadow 0.3s;
}

.input:hover,
.textarea:hover {
  box-shadow: 0 4px 6px 0 #2d1d04;
}

.error {
  font-size: 14px;
  color: red;
  display: flex;
  align-items: center;
  gap: 5px;
}

.consent {
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 15px;
}

.successMessage {
  font-size: 16px;
  font-weight: 600;
  color: #b6550b;
  text-align: center;
  margin-bottom: 20px;
}

.button {
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-text-inverse);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 #000000;
  transition: transform 0.3s;
}

.button:hover {
  transform: scale(1.05);
}

.container {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #b6550b;
}

.footerMsg {
  margin-bottom: 20px;
}

@media screen and (max-width: 830px) {
  .title {
    justify-content: center;
  }
}
